body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
:root {
  --main_color: #212121;
  --text_color: #757575;
  --active_color: #2196f3;
  --sub_color: #ffffff;
  --typical_padding: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  width: 1600px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* ========HEADER--------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header_container {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  align-items: center;
}
.header_link_logo {
  color: var(--main_color);
  margin-right: 93px;
}
.logo_color {
  color: var(--active_color);
}
.header_link_logo:hover,
.header_link_logo:focus {
  color: var(--active_color);
}

.header_list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header_list_link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main_color);
}

.header_list_link:hover,
.header_list_link:focus {
  color: var(--active_color);
}
.header_list .header_list_link.current {
  color: var(--active_color);
}

.header_contacts {
  display: flex;
  margin-left: auto;
}

.header_mail,
.header_tel {
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: 0.02em;
  color: var(--text_color);
}

.header_mail:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../image/icon-mail.svg);
  background-position: center;
  background-size: contain;
}

.header_tel:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../image/icon-phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header_mail:hover,
.header_mail:focus,
.header_tel:hover,
.header_tel:focus {
  color: var(--active_color);
}

/* -------HEADER--------------------- */

/* --------MAIN----------------------- */
.main_section {
  width: 1600px;
  margin: 0 auto;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/fone-hero.jpg);
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main_section_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--sub_color);
  width: 700px;
  margin: 0 auto 30px;
}

.main_section_btn {
  margin: 0 auto;
  min-width: 216px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--sub_color);
  background: var(--active_color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.main_section_btn:hover,
.main_section_btn:focus {
  color: var(--sub_color);
}
/* --------MAIN----------------------- */

/* --------ABOUT----------------------- */
.section_about {
  padding-top: var(--typical_padding);
  padding-bottom: var(--typical_padding);
}

.section_about_list {
  display: flex;
  gap: 30px;
}

.section_about_item::before {
  display: block;
  height: 120px;
  content: "";
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-antena::before {
  background-image: url(../image/icon-antenna.svg);
}
.icon-clock::before {
  background-image: url(../image/icon-clock.svg);
}

.icon-diagram::before {
  background-image: url(../image/icon-diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../image/icon-astronaut.svg);
}

.section_about_subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main_color);
  margin-bottom: 10px;
}

.section_about_text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text_color);
  max-width: 270px;
}

/* --------ABOUT----------------------- */

/* --------WORK----------------------- */
.section_work {
  padding-bottom: var(--typical_padding);
}

.section_work_title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main_color);
  margin-bottom: 50px;
}

.section_work_list {
  display: flex;
  gap: 30px;
}

.section_work_item {
  width: calc((100%-60px) / 3);
}
/* --------WORK----------------------- */

/* --------TEAM----------------------- */
.section_team {
  padding-bottom: var(--typical_padding);
  background: #f5f4fa;
}

.section_team_list {
  display: flex;
  gap: 30px;
}

.section_team_item {
  width: calc((100%-90px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section_team_title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main_color);
  margin-bottom: 50px;
}

.card_name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section_team_subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main_color);
  margin-bottom: 10px;
}

.section_team_text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text_color);
  margin-bottom: 16px;
}
/* --------TEAM----------------------- */
/* --------FOOTER--------------------- */

.section_footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_link_logo {
  display: inline-block;
  color: var(--sub_color);
  margin-bottom: 20px;
}

.section_footer_map {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--sub_color);
  margin-bottom: 9px;
}

.section_footer_map:hover,
.section_footer_map:focus {
  color: var(--active_color);
}

.section_footer_mail {
  margin-bottom: 9px;
}

.section_footer_mail,
.section_footer_tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* --------FOOTER--------------------- */

/* --------PORTFOLIO----------------- */
.portfolio {
  padding-top: var(--typical_padding);
  padding-bottom: var(--typical_padding);
}
.portfolio_filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio_btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main_color);
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio_btn:hover,
.portfolio_btn:focus {
  background-color: var(--active_color);
  color: var(--sub_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery_name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio_gallery {
  width: calc((100% - 60px) / 3);
}

.portfolio_gallery:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main_color);
  margin-bottom: 4px;
}

.portfolio_text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text_color);
}

/* --------PORTFOLIO----------------- */
