$color_1: var(--main_color);
$color_2: var(--text_color);

.section_about {
    padding-top: var(--typical_padding);
    padding-bottom: var(--typical_padding);
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.about__item{
    width: 100%;
@media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
        }
}

.image__container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.about__subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color_1;
}

.about__text {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    color: $color_2;
    width: 100%;
}