$font-family_1: "Roboto", sans-serif;
$background-color_1: #ffffff;

body {
    font-family: $font-family_1;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: $background-color_1;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}